http://localhost:8080 {
	root * app
	header {
		-Server
		-Vary
		-Etag
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy no-referrer
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		Cross-Origin-Resource-Policy same-site
		Cross-Origin-Opener-Policy same-origin
		Cross-Origin-Embedder-Policy require-corp
		Cache-Control "no-store, no-cache, max-age=0, must-revalidate, private"
		Clear-Site-Data "*"
		X-Permitted-Cross-Domain-Policies none
		Integrity-Policy "blocked-destinations=(script style)"
		Permissions-Policy "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()"
		NEL "{\"report_to\":\"default\",\"max_age\":31536000,\"include_subdomains\":true}"
		Content-Security-Policy "default-src 'none'; base-uri 'none'; child-src 'none'; connect-src 'self'; font-src 'none'; form-action 'none'; frame-ancestors 'none'; img-src 'none'; manifest-src 'none'; media-src 'none'; object-src 'none'; require-trusted-types-for 'script'; script-src 'self'; style-src 'self'; trusted-types 'none'; worker-src 'none';"
	}
	file_server
}
